<main>
    <section>
            <div class="container">
                <div class="slogan_container">
                    <div class="slogan">
                        <h1 class="slogan_h1">Stay Informed. Stay Healthy</h1>
                        <div class="slogan_images">
                            <p></p>
                            <img src="img/Medical_prescription_and_treatment_plan.png"
                                alt="Image Medical prescription and treatment plan">
                            <img src="img/heart and stethoscope.png" alt="Image heart and stethoscope.">
                            <p></p>
                        </div>
                    </div>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem obcaecati aspernatur
                        adipisci cumque eos quibusdam voluptatibus sequi provident. Corporis eaque animi fugit libero
                        doloribus culpa blanditiis rem tenetur expedita iure?</p>
                    <h2 class="">Al ingresar, puede activar las alertas para recibir notificaciones</h2>
                </div>
            </div>
    </section>


</main>