<main>
    <section>
        <div class="container_before">
            <div class="container">
                <div class="slogan_container">
                    <div class="slogan">
                        <h1 class="slogan_h1">Stay Informed. Stay Healthy</h1>
                        <div class="slogan_images">
                            <p></p>
                            <img src="img/Medical_prescription_and_treatment_plan.png"
                                alt="Image Medical prescription and treatment plan">
                            <img src="img/heart and stethoscope.png" alt="Image heart and stethoscope.">
                            <p></p>
                        </div>
                    </div>
                </div>
                <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, ratione quisquam. Nesciunt
                    voluptatem quia illum necessitatibus dicta ex delectus fugiat, esse eveniet corporis repudiandae
                    debitis
                    accusantium nemo eos labore numquam?</div>
            </div>
            <div>
                <h2 class="message">Al ingresar, puede activar las alertas para recibir notificaciones</h2>
            </div>
        </div>
    </section>


</main>