<p>about-us works!</p>
<div id="header-placeholder"></div>
<main>
    <div class="pagesTitle">
        <h2>About as</h2>
    </div>
    <div class="section">
        <div class="about__container">
            <div class="about__container_info">
                <p class="card_title">What is HealthWatch Town?</p>
                <p class="card_info">HealthWatch Town is your app to monitor local health in Bogotá. We offer up-to-date information
                    on the availability of health services and the incidence of diseases in your area.</p>
            </div>
            <img src="img/young woman sitting on the table.png" alt="image young woman sitting on the table">
        </div>
    </div>
</main>
<div id="footer-placeholder"></div>
